/*body {
	background-image: url('audi.jpg');
	background-size: cover;
}*/

* {
	text-decoration: none;
}
html { 
  	background: url(audi.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

h1,h3 {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	transition: 1s;
	transition-delay: 1s;
}

hr {
	border-color: grey;
	max-width: 80px;
}

.boxmodel {
	clear: both;
/*	border: 10px solid #6C929F;
*/	border: 10px solid grey;
	width: 20%;
/*	background-color: #6C929F;*/
	background-color: grey;
	border-radius: 40px;
	margin: auto;
	opacity: 0.7;
	transition: 0.5s;
	border-width: 5px;
	}

.boxmodel:hover {
	opacity: 1;
	border-width: 10px;
}



